edci_credentialTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (http://www.altova.com) by Pieter Fannes (Cognizone bvba) -->
<!-- xsd version '0.2.0' based on edci model version '0.3.0' -->
<xs:schema xmlns="http://data.europa.eu/europass/model/credentials#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eup="http://data.europa.eu/europass/model/credentials#" xmlns:cred="http://data.europa.eu/europass/model/credentials/w3c#" targetNamespace="http://data.europa.eu/europass/model/credentials#" elementFormDefault="qualified" version="0.2.0">
	<xs:import namespace="http://data.europa.eu/europass/model/credentials/w3c#" schemaLocation="w3c_verifiableCredentials.xsd"/>
	<xs:include schemaLocation="edci_simpleContentTypes.xsd"/>
	<xs:include schemaLocation="edci_commonTypes.xsd"/>
	<xs:include schemaLocation="edci_agent.xsd"/>
	<xs:include schemaLocation="edci_accreditation.xsd"/>
	<xs:include schemaLocation="edci_learningOpportunity.xsd"/>
	<xs:complexType name="EuropassCredentialType">
		<xs:annotation>
			<xs:documentation>A set of claims made by an issuer in Europe, using the Europass Standards.  A Europass credential is a set of one or more claims which may be used to demonstrate that the owner has certain skills or has achieved certain learning outcomes through formal, non-formal or informal learning.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An alternative identifier of the credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuanceDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>The issuance date. A verifiable credential MUST have an issuanceDate property. The value represents the date and time the credential was issued. Note that this date represents the earliest date when the information associated with the credentialSubject property became valid. This is not the date of generation of the credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The expiration date. The value of the expirationDate property  represents the date and time the credential ceases to be valid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuanceLocation" type="LocationCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The location, country or region, where the credential was issued (e.g. the country or region where the qualification was awarded).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuer" type="IdReferenceType">
				<xs:annotation>
					<xs:documentation>The issuer of the Europass credential. Must be an organization. It must refer to an existing organization-record in the 'agentReferences'-section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="LanguageStringType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="credentialSubject" type="CredentialSubjectType">
				<xs:annotation>
					<xs:documentation>The person about which claims are made and who owns the credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="learningOpportunitySpecificationReferences" type="LearningOpportunitySpecificationReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all LearningOpportunitySpecification entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="learningSpecificationReferences" type="LearningSpecificationReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all LearningSpecification entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="learningActivitySpecificationReferences" type="LearningActivitySpecificationReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all LearningActivitySpecification entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assessmentSpecificationReferences" type="AssessmentSpecificationReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all AssessmentSpecification entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="learningOpportunityReferences" type="LearningOpportunityReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all LearningOpportunity entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agentReferences" type="AgentReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all Organization entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accreditationReferences" type="AccreditationReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all Accreditation entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scoringSchemeReferences" type="ScoringSchemeReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all Scoring - or Grading Scheme entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="semanticFrameworkReferences" type="FrameworkReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record semantic frameworks to which resources in this credential document can be associated, tagged or aligned with</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- todo proof -->
			<xs:element name="displayParameters" type="DisplayParametersType" minOccurs="0"/>
			<xs:element name="attachmentList" type="AttachmentListType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
               			List any digital document (PDF, JPEG or PNG format) that an issuer has attached to the Europass document to support/evidence of personal data, learning achievements, work experiences, skills, competences, diplomas, etc. 
               		</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- todo contains micro credential-->
			<xs:element name="proof"/>
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the credential.
				(i.e. a urn in the uuid namespace, urn:uuid:f81d4fae-7dec-11d0-a765-00a0c91e6bf6)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="xsdVersion" use="optional" default="0.2.0">
			<xs:annotation>
				<xs:documentation>used xsd version</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="0.2.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CredentialSubjectType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PersonType">
				<xs:sequence>
					<xs:element name="achievements" type="AchievementsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Container element to record achievements of the person. An achievement is the outcome of a learning process and/or assessment in formal, non-formal or informal settings. Such outcome consists of the acquisition of learning outcomes or of an entitlement by the person who underwent the learning process. An achievement is awarded as a result of assessment(s), after the person has undergone learning activity(ies). These do not necessarily need to be described in the credential, although it is recommended. Achievement examples.:
- An awarded or recognised set of learning outcomes
- An awarded qualification or a diploma
- An entitlement (e.g. a permit)
- ...</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="activities" type="ActivitiesType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Container element to record (learning) activities of the person.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="assessments" type="AssessmentsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Container element to record assessments of the person.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AchievementsType">
		<xs:annotation>
			<xs:documentation>Container element to record achievements of the person. An achievement is the outcome of a learning process and/or assessment in formal, non-formal or informal settings. Such outcome consists of the acquisition of learning outcomes or of an entitlement by the person who underwent the learning process. An achievement is awarded as a result of assessment(s), after the person has undergone learning activity(ies). These do not necessarily need to be described in the credential, although it is recommended. Achievement examples.:
- An awarded or recognised set of learning outcomes
- An awarded qualification or a diploma
- An entitlement (e.g. a permit)
- ...</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="learningAward" type="LearningAwardType">
				<xs:annotation>
					<xs:documentation>The acquisition of knowledge, skills or responsibility and autonomy. A recognised and/or awarded set of learning outcomes of an individual.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qualificationAward" type="QualificationAwardType">
				<xs:annotation>
					<xs:documentation>An awarded qualification. A formal outcome of an assessment and validation process which is obtained when a competent authority determines that an individual has achieved learning outcomes to given standards. A QualificationAwardType is a more specialized type of the LearningAwardType</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entitlement" type="AchievementType"/>
		</xs:choice>
		<!-- todo do we want to have separate (child) container classes for the different types of achievement? learninAwards, qualificationAwards, nqfQualificationAwards and entitlements? -->
	</xs:complexType>
	<xs:complexType name="AchievementType">
		<xs:annotation>
			<xs:documentation>An achievement is the outcome of a learning process and/or assessment in formal, non-formal or informal settings. Such outcome consists of the acquisition of learning outcomes or of an entitlement by the person who underwent the learning process. An achievement is awarded as a result of assessment(s), after the person has undergone learning activity(ies). These do not necessarily need to be described in the credential, although it is recommended. Achievement examples.:
- An awarded or recognised set of learning outcomes
- An awarded qualification or a diploma
- An entitlement (e.g. a permit)
- ...</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="title" type="LanguageStringType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuedDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date in which the achievement was conferred (ascribed, granted, completed,…). It is the issued or achievement date (e.g. the date in which an educational degree or qualification was awarded.). This date might be different from the end date of the related activity (e.g. multiple degrees or qualifications could be awarded during the course of the program, before the end of the program)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An additional free text note (e.g. a comment, a remark,…) about the achievement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wasDerivedFrom" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An assessment on which the awarding of this achievement was (partly) based. The awarding of an achievement is typically based on one or more assessments. It must refer to an existing 'assessment'-record in the 'assessments'-section of the credential subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wasInfluencedBy" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A learning activity associated with this achievement. A learning activity can lead or contribute to an achievement. Typically the achievement was the output of a formal and/or informal awarding process following one or more assessments during or after a learning activity. It must refer to an existing 'activity'-record in the 'activities'-section of the credential subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A sub achievement. It must refer to an existing record in the 'achievements'-section of the credential subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the achievement (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this achievement from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LearningAwardType">
		<xs:annotation>
			<xs:documentation>The acquisition of knowledge, skills or responsibility and autonomy. A recognised and/or awarded set of learning outcomes of an individual.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AchievementType">
				<xs:sequence>
					<xs:element name="grade" type="GradeDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The grade of learning. The final grade awarded for the given set of learning outcomes. e.g :
- The proficiency level for a given competency. The state or degree of mastery or adeptness obtained or achieved for a given skill or learning outcome..
- The level of experience
- ...
Grades or proficiency levels are expressed as a score, a point scale, or a mark in a range of values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="learningSpecification" type="IdReferenceType">
						<xs:annotation>
							<xs:documentation>What has been learned. A specification of learning that is expressed as 1 or more learning outcomes. It MUST refer to an existing record in the 'learningSpecificationReferences'-section of this credential.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="associatedLearningOpportunity" type="IdReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The learning opportunity that was taken to obtain the awarded LearningSpecification. It MUST refer to an existing record in the 'learningOpportunityReferences'-section of this credential.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QualificationAwardType">
		<xs:annotation>
			<xs:documentation>An awarded qualification. A formal outcome of an assessment and validation process which is obtained when a competent authority determines that an individual has achieved learning outcomes to given standards. The QualificationAwardType is a more specialized type of the LearningAwardType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AchievementType">
				<xs:sequence>
					<xs:element name="grade" type="GradeDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The final grade awarded for the given qualification.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qualification" type="IdReferenceType">
						<xs:annotation>
							<xs:documentation>What has been learned. The awarded qualification describing the details about the qualification such as the (expected) learning outcomes. It MUST refer to an existing record in the 'learningSpecificationReferences'-section of this credential.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="associatedLearningOpportunity" type="IdReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The learning opportunity that was taken to obtain the awarded qualification. It MUST refer to an existing record in the 'learningOpportunityReferences'-section of this credential.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActivitiesType">
		<xs:sequence>
			<xs:element name="activity" type="ActivityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Any process which leads to the acquisition of knowledge, skills or responsibility and autonomy. Activities are used to represent any learning activity of an individual in a formal or non formal setting (e.g. attending an educational- or training program, a course, a working or practising activity). Typically the learning activity leads or contributes to an achievement after a formal and/or informal assessment procedure. The achievement is typically the result of a formal and/or informal assessment process during or after a learning activity.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivityType">
		<xs:annotation>
			<xs:documentation>Any process which leads to the acquisition of knowledge, skills or responsibility and autonomy. Activities are used to represent any learning activity of an individual in a formal or non formal setting (e.g. attending an educational- or training program, a course, a working or practising activity). Typically the learning activity leads or contributes to an achievement after a formal and/or informal assessment procedure. The achievement is typically the result of a formal and/or informal assessment process during or after a learning activity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="title" type="LanguageStringType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An additional free text note (e.g. a comment, a remark,…) about the activity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workload" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The workload in time. The total amount of time the learner spent undergoing the learning activity. The duration or volume of learning measured in years, days or hours of learning activity. The effective number of learning years, days or hours.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="period" type="PeriodOfTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The time period in which the activity took place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="directedBy" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The directing agent. The agent organizing and/or directing the learning activity (e.g. the academic - or training institution where the person attended a course). It MUST refer to an existing 'organization'-record in the 'agentReferences'-section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="location" type="LocationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The location where the activity took place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specifiedBy" type="IdReferenceType">
				<xs:annotation>
					<xs:documentation>The specification of this learning activity. It MUST refer to an existing record in the 'learningActivitySpecificationReferences'-section of the xml document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usedLearningOpportunity" type="IdReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The used or taken opportunity to do this learning activity. In order to do this learning activity there must be (have been) an opportunity for the individual to do this learning activity. It MUST refer to an existing record in the 'learningOpportunityReferences'-section of the xml document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="influenced" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A related achievement. A learning activity can lead to or contribute to an achievement. Typically the achievement was the output of a formal and/or informal awarding process following one or more assessments during or after a learning activity. It MUST refer to an existing record in the 'achievements'-section of the credentialSubject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A sub activity. It MUST refer to an existing 'activity'-record in the 'activities'-section of the credentialSubject.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the activity (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this activity from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AssessmentsType">
		<xs:sequence>
			<xs:element name="assessment" type="AssessmentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The process of establishing the extent to which a learner has attained particular knowledge, skills and competences against criteria such as learning outcomes or standards of competence. The result of an assessment can contribute to or influence the result of another wider assessment. Therefore an assessment might be derived from other assessments done. An achievement is typically the derivative of a group of assessment results.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssessmentType">
		<xs:annotation>
			<xs:documentation>The process of establishing the extent to which a learner has attained particular knowledge, skills and competences against criteria such as learning outcomes or standards of competence. The result of an assessment can contribute to or influence the result of another wider assessment. Therefore an assessment might be derived from other assessments done. An achievement is typically the derivative of a group of assessment results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="title" type="LanguageStringType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An additional free text note (e.g. a comment, a remark,…) about the  assessment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grade" type="GradeDetailsType">
				<xs:annotation>
					<xs:documentation>The resulting grade of the assessment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="idVerificationMethod" type="IDVerificationMethodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method of assessment supervision and id verification (i.e. id verification, no id verification, supervised with id verification, unsupervised with id verification).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specifiedBy" type="IdReferenceType">
				<xs:annotation>
					<xs:documentation>The specification of this assessment. It MUST refer to an existing record in the 'assessmentSpecificationReferences'-section of the xml document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assessedBy" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The competent body that awarded the grade. It MUST refer to an existing 'organization'-record in the 'agentReferences'-section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wasDerivedFrom" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A related assessment that influenced the result of this assessment. The result of an assessment can contribute to or influence another wider assessment. We can say the latter was (partly) derived from the former. It MUST refer to an existing 'assessment'-record in the 'assessments'-section of the credentialSubject.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the assessment (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this assessment from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LearningSpecificationReferencesType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="learningSpecification" type="LearningSpecificationType">
				<xs:annotation>
					<xs:documentation>A specification of learning. A specification or package of learning that is expressed in 1 or more learning outcomes. It is used to specify what a person did learn OR what a person can learn (e.g. by a given learning opportunity).</xs:documentation>
				</xs:annotation>
				<xs:unique name="qs_prefLabel">
					<xs:selector xpath="eup:title"/>
					<xs:field xpath="@lang"/>
				</xs:unique>
				<xs:unique name="qs_definition">
					<xs:selector xpath="eup:definition/eup:text"/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="qualification" type="QualificationType">
				<xs:annotation>
					<xs:documentation>The details of a qualification that can or has been awarded such as the (expected) learning outcomes. This can be a copy or a specialization of an existing qualification standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="learningOutcome" type="LearningOutcomeType">
				<xs:annotation>
					<xs:documentation>A learning outcome (i.e. knowledge, skill, autonomy-responsibility). The details, such as the description, of a learning outcome.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<!-- todo do we want to have separate (child) container classes for the diffferent types? learningSpecifications, qualifications, nqf qualifications and learningOutcomes? -->
	</xs:complexType>
	<xs:complexType name="LearningOpportunitySpecificationReferencesType">
		<xs:sequence>
			<xs:element name="learningOpportunitySpecification" type="LearningOpportunitySpecificationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The specification, including the curricula, of a learning opportunity. A LearningOpportunitySpecification specifies the curricula of a learning opportunity: 1) What a learner will learn, the expected learning outcomes (LearningSpecification or Qualification). 2) What a learner will do to learn (LearningActivitySpecification). 3) How the expected learning outcomes will be proofed (AssessmentSpecification). Additionaly the LearningOpportunitySpecification includes some properties describing the learning opportunities for which this specification is designed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LearningActivitySpecificationReferencesType">
		<xs:sequence>
			<xs:element name="learningActivitySpecification" type="LearningActivitySpecificationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A LearningActivitySpecification is a specification of a process which leads to the acquisition of knowdledge, skills or responsibilty and autonomy.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssessmentSpecificationReferencesType">
		<xs:sequence>
			<xs:element name="assessmentSpecification" type="AssessmentSpecificationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An AssessmentSpecification is a specification of a process establishing the extent to which a learner has attained particular knowledge, skills and competences against criteria such as learning outcomes or standards of competence.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LearningOpportunityReferencesType">
		<xs:sequence>
			<xs:element name="learningOpportunity" type="LearningOpportunityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A LearningOpportunityType is a an opportunity to learn. An opportunity to realize a given set of learning outcomes via a learning activity and/or assessment. For example a training, a degree programme or a course, provided by a given institution at a given time, to obtain a certain learning award such as a qualification, this is a learning opportunity. A 'learning opportunity' is the opportunity for an individual to do a set of 'learning activities' where he can acquire knowledge, skills or responsibility and autonomy as proven by an assessment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AgentReferencesType">
		<xs:sequence>
			<xs:element name="organization" type="OrganizationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A legal organization (e.g. the credential issuer, an awarding body, an academic or training institution,...).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccreditationReferencesType">
		<xs:sequence>
			<xs:element name="accreditation" type="AccreditationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An accreditation (i.e quality assurance or license of an organizaion and/or qualification).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScoringSchemeReferencesType">
		<xs:sequence>
			<xs:element name="scoringScheme" type="ScoringSchemeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A scoring scheme. A numeric or text type of scoring methodology or convention. A grading system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrameworkReferencesType">
		<xs:sequence>
			<xs:element name="framework" type="SemanticFrameworkType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The details about a semantic framework or system. Used to describe other semantic frameworks to which resources in EDCI can be associated, tagged or aligned with</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DisplayParametersType">
		<xs:annotation>
			<xs:documentation>The display parameters of the credential.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- max 8 lines of text -->
			<xs:element name="displayText" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The display text of the issued credential. A summary of the issued credential consisting of maximum 8 lines. This can be formatted text using text/html.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="logo" type="ImageObjectType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The logo of the credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primaryColor" type="ColorNotationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The primary colour to use for displaying the credential. The hex notation (hexadecimal format) of the color MUST be used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="secondaryColor" type="ColorNotationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The secondary colour to use for displaying the credential. The hex notation (hexadecimal format) of the color MUST be used.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GradeDetailsType">
		<xs:annotation>
			<xs:documentation>The details of a grade. The marks allocated to an individual in measuring his/her abilities, capacity to learn, personality assessment, or in other measurable characteristics.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="scores" type="ScoreType">
				<xs:annotation>
					<xs:documentation>The issued scores.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuedDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date which the grade was awarded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An additional free text note containing any further information about the grade or score.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shortenedGrading" type="ShortenedGrading" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator of *how well* the student was graded when compared to other students.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resultDistribution" type="ResultDistribution" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Describes a histogram of results achieved by all the students of this course instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortenedGrading">
		<xs:annotation>
			<xs:documentation>Indicator of *how well* the student was graded when compared to other students. The three values don't need to be very exact (one decimal place should be more than enough), but they SHOULD sum up to 100.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="percentageLower" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>The percentage of students of the same course who got a lower grade than our learner (this includes the students which have failed the course). A decimal number between 0 and 100 (though 100 is never reached).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="percentageEqual" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>The percentage of students of the same course who got exactly the same grade as our learner.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="percentageHigher" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>The percentage of students of the same course who got a higher grade than our learner.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultDistribution">
		<xs:annotation>
			<xs:documentation>Describes a histogram of results achieved by all the students of this course instance.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="category" type="ResultCategory" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes a single range within the histogram.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="NoteType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Free text description of the histogram. Maximum one value per language is allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultCategory">
		<xs:annotation>
			<xs:documentation>Description of a single score or score range within a histogram of results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="label" type="xs:token" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The label of the histogram score or score range. Should correspond to the grading scheme which have been used. E.g.'C', or '20-30'</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="score" type="ScoreType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The histogram score.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minScore" type="ScoreType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The minimum score of the histogram score range.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxScore" type="ScoreType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The maximum score of the histogram score range.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="count" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>The number of students whose grades fall within that category</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScoreType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="numericScore" type="NumericScoreType"/>
				<xs:element name="textScore" type="TextScoreType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
