edci_schema_types_0.2.0-xsd-0.1.0-draft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- xsd version '0.1.0-draft' of edci model version '0.2.0' -->
<xs:schema xmlns="http://data.europa.eu/europass/model/credentials#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eup="http://data.europa.eu/europass/model/credentials#" xmlns:cred="http://data.europa.eu/europass/model/credentials/w3c#" targetNamespace="http://data.europa.eu/europass/model/credentials#" elementFormDefault="qualified" version="0.2.0-xsd-0.1.0-draft">
	<xs:import namespace="http://data.europa.eu/europass/model/credentials/w3c#" schemaLocation="w3c_verifiable_credentials.xsd"/>
	<xs:include schemaLocation="edci_schema_common_0.2.0-xsd-0.1.0-draft.xsd"/>
	<xs:include schemaLocation="edci_schema_individuals_0.2.0-xsd-0.1.0-draft.xsd"/>
	<xs:complexType name="EuropassCredentialType">
		<xs:annotation>
			<xs:documentation>A set of claims made by an issuer in Europe, using the Europass Standards.  A Europass credential is a set of one or more claims which may be used to demonstrate that the owner has certain skills or has achieved certain learning outcomes through formal, non-formal or informal learning.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An alternative identifier of the credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuanceDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>The issuance date. A verifiable credential MUST have an issuanceDate property. The value represents the date and time the credential was issued. Note that this date represents the earliest date when the information associated with the credentialSubject property became valid. This is not the date of generation of the credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The expiration date. The value of the expirationDate property  represents the date and time the credential ceases to be valid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuanceLocation" type="LocationCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The location, country or region, where the credential was issued (e.g. the country or region where the qualification was awarded).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuer" type="IdReferenceType">
				<xs:annotation>
					<xs:documentation>The issuer of the Europass credential. Must be an organization. It must refer to an existing organization-record in the 'agentReferences'-section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="LanguageStringType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="credentialSubject" type="CredentialSubjectType">
				<xs:annotation>
					<xs:documentation>The person about which claims are made and who owns the credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="learningSpecificationReferences" type="LearningSpecificationReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all LearningSpecification entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agentReferences" type="AgentReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all Organization entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scoringSchemeReferences" type="ScoringSchemeReferencesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record all Scoring - or Grading Scheme entities that can be linked or refered to from other places in the credential document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- todo proof -->
			<xs:element name="proof"/>
			<xs:element name="displayParameters" type="DisplayParametersType" minOccurs="0"/>
			<!-- todo contains micro credential-->
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the credential.
				(i.e. a urn in the uuid namespace, urn:uuid:f81d4fae-7dec-11d0-a765-00a0c91e6bf6)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CredentialSubjectType">
		<xs:sequence>
			<xs:element name="nationalId" type="IdentifierType">
				<xs:annotation>
					<xs:documentation>The "primary" national identifier of the person. (mandatory attribute EIDAS, a unique identifier constructed by the sending Member State in accordance with the technical specifications for the purposes of cross-border identification and which is as persistent as possible in time). Not mandatory if a person does not have a national id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					An (alternative) formally-issued identifier for the person. Identifiers are context-specific and when exchanging data between systems it is important to provide additional information that makes this explicit. People may have any number of identifiers. For example, an individual may be issued with identifiers for everything from social security to club membership.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fullName" type="LanguageStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The complete name of the person as one string. Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="givenNames" type="LanguageStringType">
				<xs:annotation>
					<xs:documentation>The given name(s) of the person. The denominator(s) that identify the person within a family. Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="familyName" type="LanguageStringType">
				<xs:annotation>
					<xs:documentation>The family name of the person. A name that is usually shared by members of a family. Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="xs:date"/>
			<xs:element name="placeOfBirth" type="LocationType" minOccurs="0"/>
			<xs:element name="gender" type="GenderCodeType" minOccurs="0"/>
			<xs:element name="achievements" type="AchievementsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record achievements of the person. An achievement is the outcome of a learning process and/or assessment in formal, non-formal or informal settings. Such outcome consists of the acquisition of learning outcomes or of an entitlement by the person who underwent the learning process. An achievement is awarded as a result of assessment(s), after the person has undergone learning activity(ies). These do not necessarily need to be described in the credential, although it is recommended. Achievement examples.:
- An awarded or recognised set of learning outcomes
- An awarded qualification or a diploma
- An entitlement (e.g. a permit)
- ...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activities" type="ActivitiesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record (learning) activities of the person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assessments" type="AssessmentsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container element to record assessments of the person.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the person.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AchievementsType">
		<xs:annotation>
			<xs:documentation>Container element to record achievements of the person. An achievement is the outcome of a learning process and/or assessment in formal, non-formal or informal settings. Such outcome consists of the acquisition of learning outcomes or of an entitlement by the person who underwent the learning process. An achievement is awarded as a result of assessment(s), after the person has undergone learning activity(ies). These do not necessarily need to be described in the credential, although it is recommended. Achievement examples.:
- An awarded or recognised set of learning outcomes
- An awarded qualification or a diploma
- An entitlement (e.g. a permit)
- ...</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="learningAward" type="LearningAwardType">
				<xs:annotation>
					<xs:documentation>The acquisition of knowledge, skills or responsibility and autonomy. A recognised and/or awarded set of learning outcomes of an individual.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qualificationAward" type="QualificationAwardType">
				<xs:annotation>
					<xs:documentation>An awarded qualification. A formal outcome of an assessment and validation process which is obtained when a competent authority determines that an individual has achieved learning outcomes to given standards.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nqfQualificationAward" type="NQFQualificationAwardType">
				<xs:annotation>
					<xs:documentation>An awarded qualification that is part of a national qualifications framework. A formal outcome of an assessment and validation process which is obtained when a competent authority determines that an individual has achieved learning outcomes to given standards.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entitlement" type="AchievementType"/>
		</xs:choice>
		<!-- todo do we want to have separate (child) container classes for the different types of achievement? learninAwards, qualificationAwards, nqfQualificationAwards and entitlements? -->
	</xs:complexType>
	<xs:complexType name="AchievementType">
		<xs:annotation>
			<xs:documentation>An achievement is the outcome of a learning process and/or assessment in formal, non-formal or informal settings. Such outcome consists of the acquisition of learning outcomes or of an entitlement by the person who underwent the learning process. An achievement is awarded as a result of assessment(s), after the person has undergone learning activity(ies). These do not necessarily need to be described in the credential, although it is recommended. Achievement examples.:
- An awarded or recognised set of learning outcomes
- An awarded qualification or a diploma
- An entitlement (e.g. a permit)
- ...</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="title" type="LanguageStringType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuedDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date in which the achievement was conferred (ascribed, granted, completed,…). It is the issued or achievement date (e.g. the date in which an educational degree or qualification was awarded.). This date might be different from the end date of the related activity (e.g. multiple degrees or qualifications could be awarded during the course of the program, before the end of the program)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An additional free text note (e.g. a comment, a remark,…) about the achievement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wasDerivedFrom" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An assessment on which the awarding of this achievement was (partly) based. The awarding of an achievement is typically based on one or more assessments. It must refer to an existing 'assessment'-record in the 'assessments'-section of the credential subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wasInfluencedBy" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A learning activity associated with this achievement. A learning activity can lead or contribute to an achievement. Typically the achievement was the output of a formal and/or informal awarding process following one or more assessments during or after a learning activity. It must refer to an existing 'activity'-record in the 'activities'-section of the credential subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A sub achievement. It must refer to an existing record in the 'achievements'-section of the credential subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the achievement (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this achievement from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LearningAwardType">
		<xs:annotation>
			<xs:documentation>The acquisition of knowledge, skills or responsibility and autonomy. A recognised and/or awarded set of learning outcomes of an individual.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AchievementType">
				<xs:sequence>
					<xs:element name="grade" type="GradeDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The grade of learning. The final grade awarded for the given set of learning outcomes. e.g :
- The proficiency level for a given competency. The state or degree of mastery or adeptness obtained or achieved for a given skill or learning outcome..
- The level of experience
- ...
Grades or proficiency levels are expressed as a score, a point scale, or a mark in a range of values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="learningSpecification" type="IdReferenceType">
						<xs:annotation>
							<xs:documentation>What has been learned. A specification of learning that is expressed as 1 or more learning outcomes. It MUST refer to an existing record in the 'learningSpecificationReferences'-section of this credential.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QualificationAwardType">
		<xs:annotation>
			<xs:documentation>An awarded qualification. A formal outcome of an assessment and validation process which is obtained when a competent authority determines that an individual has achieved learning outcomes to given standards.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AchievementType">
				<xs:sequence>
					<xs:element name="grade" type="GradeDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The final grade awarded for the given qualification.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qualification" type="IdReferenceType">
						<xs:annotation>
							<xs:documentation>What has been learned. The awarded qualification describing the details about the qualification such as the (expected) learning outcomes. It MUST refer to an existing record in the 'learningSpecificationReferences'-section of this credential.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NQFQualificationAwardType">
		<xs:annotation>
			<xs:documentation>An awarded qualification that is part of a national qualifications framework. A formal outcome of an assessment and validation process which is obtained when a competent authority determines that an individual has achieved learning outcomes to given standards.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AchievementType">
				<xs:sequence>
					<xs:element name="grade" type="GradeDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The final grade awarded for the given qualification.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nqfQualification" type="IdReferenceType">
						<xs:annotation>
							<xs:documentation>What has been learned. The awarded NQF qualification (e.g. standard) describing the details about the qualification such as the (expected) learning outcomes. It MUST refer to an existing record in the learningSpecificationReferences-section of this credential.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LearningSpecificationReferencesType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="learningSpecification" type="LearningSpecificationType">
				<xs:annotation>
					<xs:documentation>A specification of learning. A specification or package of learning that is expressed in 1 or more learning outcomes. It is used to specify what a person did learn OR what a person can learn (e.g. by a given learning opportunity).</xs:documentation>
				</xs:annotation>
				<xs:unique name="qs_prefLabel">
					<xs:selector xpath="eup:prefLabel"/>
					<xs:field xpath="@lang"/>
				</xs:unique>
				<xs:unique name="qs_definition">
					<xs:selector xpath="eup:definition/eup:text"/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="qualification" type="QualificationType">
				<xs:annotation>
					<xs:documentation>The details of a qualification that can or has been awarded such as the (expected) learning outcomes. This can be a copy or a specialization of an existing qualification standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nqfQualification" type="NQFQualificationType">
				<xs:annotation>
					<xs:documentation>The details of a NQF qualification that can or has been awarded such as the (expected) learning outcomes. This can be a copy or a specialization of an existing qualification standard. A NQF qualification is part of a national qualifications framework.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="learningOutcome" type="LearningOutcomeType">
				<xs:annotation>
					<xs:documentation>A learning outcome (i.e. knowledge, skill, autonomy-responsibility). The details, such as the description, of a learning outcome.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<!-- todo do we want to have separate (child) container classes for the diffferent types? learningSpecifications, qualifications, nqf qualifications and learningOutcomes? -->
	</xs:complexType>
	<xs:group name="LearningSpecificationElements">
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="prefLabel" type="LanguageStringType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The exact and official title of the learning specification. Maximum one value per language is allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="altLabel" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Short and abstract description about the learning specification. Maximum one value per language is allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="homepage" type="DocumentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The homepage (a public web document) of the learning specification. There can be only one learning specification that has a particular homepage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="landingpage" type="DocumentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A web page that can be navigated to in a web browser to gain access to the learning specification and/or additional information. A learning specification might not have a homepage but instead a landing page.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supplementaryDoc" type="DocumentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A public web document containing additional documentation about the learning specification, such as a diploma or certificate supplement. It can be any document containing further information about the learning specification. The document can be a web page that can be navigated or a downloadable file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An additional free text note containing any further information about a learning specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="learningOutcome" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An individual (expected) learning outcome of the learning specification. It MUST refer to an existing 'LearningOutcome'-record in the 'learningSpecificationReferences'-section of this credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="volumeOfLearning" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An indication of how many hours of learning efforts are needed, i.e. notional learning hours.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="QualificationElements">
		<xs:sequence>
			<xs:group ref="LearningSpecificationElements"/>
			<xs:element name="hasISCED-FCode" type="IscedFOetCodeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The ISCED  FoET 2013 classification code. It indicates the thematic area of the qualification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasECTSCreditPoints" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The credit points assigned to the qualification, following the ECTS credit system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isPartialQualification" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether a qualification is a full qualification or part of another qualification. In the latter, the qualification is only obtained as a formal outcome of a “broader” qualification of which it is part.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="LearningSpecificationType">
		<xs:annotation>
			<xs:documentation>A specification of learning. A specification or package of learning that is expressed in 1 or more learning outcomes. It is used to specify what a person did learn OR what a person can learn (e.g. by a given learning opportunity).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="LearningSpecificationElements"/>
			<xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					A learning specification (a "package") can be part of another "broader" learning specification. It MUST refer to an existing record in the 'learningSpecificationReferences'-section of this credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- xs:element name="specializationOf" type="xs:anyURI" minOccurs="0"/-->
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the learning specification. (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this learning specification from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="QualificationType">
		<xs:annotation>
			<xs:documentation>The details of a qualification that can or has been awarded such as the (expected) learning outcomes. This can be a copy or a specialization of an existing qualification standard.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="QualificationElements"/>
			<xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					A qualification can be part of another "broader" qualification. It MUST refer to an existing record in the 'learningSpecificationReferences'-section of this credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- xs:element name="specializationOf" type="xs:anyURI" minOccurs="0"/-->
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the qualification. (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this qualification from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="NQFQualificationType">
		<xs:annotation>
			<xs:documentation>The details of a NQF qualification that can or has been awarded such as the (expected) learning outcomes. This can be a copy or a specialization of an existing qualification standard. A NQF qualification is part of a national qualifications framework.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="QualificationElements"/>
			<xs:element name="eqfLevel" type="EQFLevelType">
				<xs:annotation>
					<xs:documentation>The qualification level as specified by the European Qualification Framework.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nqfLevel" type="QFLevelAssociationType">
				<xs:annotation>
					<xs:documentation>The qualification level as specified by a National Qualification Framework.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					A NQF qualification can be part of another "broader" qualification. It MUST refer to an existing record in the 'learningSpecificationReferences'-section of this credential.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- todo qualification code, how do we name this field and what do we expect as value? -->
			<xs:element name="specializationOf" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A link to the accredidated NQF qualification.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the qualification. (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this qualification from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LearningOutcomeType">
		<xs:annotation>
			<xs:documentation>A learning outcome (i.e. knowledge, skill, autonomy-responsibility). The details, such as the description, of a learning outcome.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="prefLabel" type="LanguageStringType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A legible, descriptive name for the learning outcome. Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A free text describing the learning outcome. Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="learningOutcomeType" type="LearningOutcomeTypeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The learning outcome type (i.e. knowledge, skill, ...).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reusabilityLevel" type="ReusabilityLevelType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The reusability level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relatedEscoSkill" type="EscoSkillAssociationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A link/alignment to an ESCO Skill.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="IdType">
			<xs:annotation>
				<xs:documentation>A portable identifier of the learning outcome (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this learning outcome from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EscoSkillAssociationType">
		<xs:annotation>
			<xs:documentation>Represents an alignment object to an existing ESCO Skill.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="SkillAlignmentTypeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A concept indicating the semantics of the relation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A free text describing the semantics of the relation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skill" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>The URI identifier of the related ESCO skill.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QFLevelAssociationType">
		<xs:annotation>
			<xs:documentation>Represents an association of a qualification to a qualification framework level in a given qualification framework.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="qualificationFramework" type="QualificationFrameworkType">
				<xs:annotation>
					<xs:documentation>The national qualification framework.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qfLevel" type="xs:token">
				<xs:annotation>
					<xs:documentation>The qualification framework level within the national framework.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivitiesType">
		<xs:sequence>
			<xs:element name="activity" type="ActivityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Any process which leads to the acquisition of knowledge, skills or responsibility and autonomy. Activities are used to represent any learning activity of an individual in a formal or non formal setting (e.g. attending an educational- or training program, a course, a working or practising activity). Typically the learning activity leads or contributes to an achievement after a formal and/or informal assessment procedure. The achievement is typically the result of a formal and/or informal assessment process during or after a learning activity.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivityType">
		<xs:annotation>
			<xs:documentation>Any process which leads to the acquisition of knowledge, skills or responsibility and autonomy. Activities are used to represent any learning activity of an individual in a formal or non formal setting (e.g. attending an educational- or training program, a course, a working or practising activity). Typically the learning activity leads or contributes to an achievement after a formal and/or informal assessment procedure. The achievement is typically the result of a formal and/or informal assessment process during or after a learning activity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="learningSettingType" type="LearningSettingTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of learning (the learning setting) (i.e. formal learning, non-formal learning or informal learning).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activityType" type="ActivityTypeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A concept indicating the type of activity (e.g. a training program).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="LanguageStringType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- volumeOfLearning -->
			<xs:element name="workload" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The workload in time. The total amount of time the learner spent undergoing the learning activity. The duration or volume of learning measured in years, days or hours of learning activity. The effective number of learning years, days or hours. This can be an indicative number (i.e. an estimated or notional number).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="period" type="PeriodOfTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The time period in which the activity took place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An additional free text note (e.g. a comment, a remark,…) about the activity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="influenced" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A related achievement. A learning activity can lead to or contribute to an achievement. Typically the achievement was the output of a formal and/or informal awarding process following one or more assessments during or after a learning activity. It MUST refer to an existing record in the 'achievements'-section of the credentialSubject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="directedBy" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The directing agent. The agent organizing and/or directing the learning activity (e.g. the academic - or training institution where the person attended a course). It MUST refer to an existing 'organization'-record in the 'agentReferences'-section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasPart" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A sub activity. It MUST refer to an existing 'activity'-record in the 'activities'-section of the credentialSubject.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the activity (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this activity from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AssessmentsType">
		<xs:sequence>
			<xs:element name="assessment" type="AssessmentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The process of establishing the extent to which a learner has attained particular knowledge, skills and competences against criteria such as learning outcomes or standards of competence. The result of an assessment can contribute to or influence the result of another wider assessment. Therefore an assessment might be derived from other assessments done. An achievement is typically the derivative of a group of assessment results.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssessmentType">
		<xs:annotation>
			<xs:documentation>The process of establishing the extent to which a learner has attained particular knowledge, skills and competences against criteria such as learning outcomes or standards of competence. The result of an assessment can contribute to or influence the result of another wider assessment. Therefore an assessment might be derived from other assessments done. An achievement is typically the derivative of a group of assessment results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="assessmentType" type="AssessmentTypeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A concept indicating the type of assessment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="LanguageStringType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maximum cardinality of one per language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grade" type="GradeDetailsType">
				<xs:annotation>
					<xs:documentation>The resulting grade of the assessment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An additional free text note (e.g. a comment, a remark,…) about the  assessment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wasDerivedFrom" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A related assessment that influenced the result of this assessment. The result of an assessment can contribute to or influence another wider assessment. We can say the latter was (partly) derived from the former. It MUST refer to an existing 'assessment'-record in the 'assessments'-section of the credentialSubject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assessedBy" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The competent body that awarded the grade. It MUST refer to an existing 'organization'-record in the 'agentReferences'-section.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the assessment (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this assessment from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AgentReferencesType">
		<xs:sequence>
			<xs:element name="organization" type="OrganizationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A legal organization (e.g. the credential issuer, an awarding body, an academic or training institution,...).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:annotation>
			<xs:documentation>A legal organization (e.g. the credential issuer, an awarding body, an academic or training institution,...).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- todo annotate legal identifier with country/region code? -->
			<xs:element name="registration" type="IdentifierType">
				<xs:annotation>
					<xs:documentation>The identifier given to a registered organization by the authority with which it is registered. The legal status of a registered organization is conferred on it by an authority within a given jurisdiction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vatIdentifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Value-added Tax ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdentifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Tax/Fiscal ID of the organization.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="prefLabel" type="LanguageStringType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The primary name of the organization (e.g. legally recognized name). The name by which to refer to an organisation. In case of a registered organisation this is the legal name of the organization. Maximum one value per language is allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="altLabel" type="LanguageStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An alternative name of the organization. An organization may have any number of alternative or informal names.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="homepage" type="DocumentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A homepage about the organization.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="escoOrgType" type="EscoOrganizationTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of organization classifying the organization as defined in the QMS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbox" type="MBoxType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A contact e-mail address of the organization.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- todo rename spatial? -->
			<xs:element name="spatial" type="LocationCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The location of the main site of the organization. The country or region where the main site of the organization is located. The country or region of formation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasQADecision" type="QualityAssuranceDecisionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quality Assurance Decision(s) which apply to the organization (i.e the issuer of the credential).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="IdType" use="required">
			<xs:annotation>
				<xs:documentation>A portable identifier of the organization (i.e. a urn in the uuid namespace). It is this identifier that MUST be used to link or refer to this organization from other places within the credential document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="QualityAssuranceDecisionType">
		<xs:annotation>
			<xs:documentation>A Quality Assurance Decision which applies to the organization (i.e the issuer of the credential).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="decision" type="TextScoreType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					The Quality Decision issued by the Quality Assuring Authority. A short description of the decision, such as "substantially compliant; awarded; gold level, etc."
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assurer" type="IdReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Quality Assuring Authority. The competent body which administered the quality assurance process and awarded the decision. It MUST refer to an existing 'organization'-record in the 'agentReferences'-section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="report" type="DocumentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A publicly accessible report of the quality assurance decision. This may be held by the awarded institution, by the quality assurance institution or by an independent registry such as DEQAR.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DisplayParametersType">
		<xs:annotation>
			<xs:documentation>The display parameters of the credential.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- max 8 lines of text -->
			<xs:element name="displayText" type="NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The display text of the issued credential. A summary of the issued credential consisting of maximum 8 lines. This can be formatted text using text/html.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="logo" type="ImageObjectType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The logo of the credential.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primaryColor" type="ColorNotationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The primary colour to use for displaying the credential. The hex notation (hexadecimal format) of the color MUST be used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="secondaryColor" type="ColorNotationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The secondary colour to use for displaying the credential. The hex notation (hexadecimal format) of the color MUST be used.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScoringSchemeReferencesType">
		<xs:sequence>
			<xs:element name="scoringScheme" type="ScoringSchemeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A scoring scheme. A numeric or text type of scoring methodology or convention. A grading system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GradeDetailsType">
		<xs:annotation>
			<xs:documentation>The details of a grade. The marks allocated to an individual in measuring his/her abilities, capacity to learn, personality assessment, or in other measurable characteristics.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="numericScore" type="NumericScoreType"/>
				<xs:element name="textScore" type="TextScoreType"/>
			</xs:choice>
			<xs:element name="issuedDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date which the grade was awarded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalNote" type="NoteType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An additional free text note containing any further information about the grade or score.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
