xsd/ams/ams.xsd

<xs:schema xmlns="http://data.europa.eu/snb/model/ap/ams-constraints/"
           xmlns:ams="http://data.europa.eu/snb/model/ap/ams-constraints/"
           xmlns:adms="http://www.w3.org/ns/adms#"
           xmlns:dc="http://purl.org/dc/terms/"
           xmlns:elm="http://data.europa.eu/snb/model/elm/"
           xmlns:foaf="http://xmlns.com/foaf/0.1/"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           xmlns:locn="http://www.w3.org/ns/locn#"
           xmlns:rov="http://www.w3.org/ns/regorg#"
           xmlns:skos="http://www.w3.org/2004/02/skos/core#"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:lng="http://publications.europa.eu/resource/authority/language"
           xmlns:cou="http://publications.europa.eu/resource/authority/country"
           xmlns:for="http://publications.europa.eu/resource/authority/file-type"
           xmlns:nuts="http://data.europa.eu/nuts"
           xmlns:atu="http://publications.europa.eu/resource/authority/atu"
           xmlns:isced="http://data.europa.eu/snb/isced-f/25831c2"
           xmlns:eqf="http://data.europa.eu/snb/eqf/25831c2"
           xmlns:eat="http://data.europa.eu/snb/accreditation/25831c2"
           xmlns:ecet="http://data.europa.eu/snb/encoding/25831c2"
           elementFormDefault="qualified"
           targetNamespace="http://data.europa.eu/snb/model/ap/ams-constraints/"
           version="3.0.0">

   <xs:import namespace="http://www.w3.org/ns/regorg#" schemaLocation="external/rov.xsd"/>
   <xs:import namespace="http://www.w3.org/ns/adms#" schemaLocation="external/adms.xsd"/>
   <xs:import namespace="http://www.w3.org/ns/org#" schemaLocation="external/org.xsd"/>
   <xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="external/skos.xsd"/>
   <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="external/dc.xsd"/>
   <xs:import namespace="http://xmlns.com/foaf/0.1/" schemaLocation="external/foaf.xsd"/>
   <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="external/rdf.xsd"/>
   <xs:import namespace="http://www.w3.org/ns/locn#" schemaLocation="external/core-locn-ap.xsd"/>

   <xs:import namespace="http://publications.europa.eu/resource/authority/language" schemaLocation="cv/language.xsd"/>
   <xs:import namespace="http://publications.europa.eu/resource/authority/country" schemaLocation="cv/country.xsd"/>
   <xs:import namespace="http://publications.europa.eu/resource/authority/file-type" schemaLocation="cv/file-type.xsd"/>
   <xs:import namespace="http://data.europa.eu/nuts" schemaLocation="cv/nuts.xsd"/>
   <xs:import namespace="http://publications.europa.eu/resource/authority/atu" schemaLocation="cv/atu.xsd"/>
   <xs:import namespace="http://data.europa.eu/snb/isced-f/25831c2" schemaLocation="cv/isced-f.xsd"/>
   <xs:import namespace="http://data.europa.eu/snb/eqf/25831c2" schemaLocation="cv/eqf.xsd"/>
   <xs:import namespace="http://data.europa.eu/snb/accreditation/25831c2" schemaLocation="cv/europass-accreditation-types.xsd"/>
   <xs:import namespace="http://data.europa.eu/snb/encoding/25831c2" schemaLocation="cv/europass-content-encoding-types.xsd"/>

   <xs:element name="Accreditations" type="AccreditationsRootType">
      <xs:annotation>
         <xs:documentation>This is the root element of the document.</xs:documentation>
      </xs:annotation>
      <xs:unique name="UniqueNotationCheck">
         <xs:annotation>
            <xs:documentation>The value of identifier notation should be unique across the document.</xs:documentation>
         </xs:annotation>
         <xs:selector xpath=".//ams:identifier"/>
         <xs:field xpath="skos:notation"/>
      </xs:unique>

      <xs:key name="accreditationKey">
         <xs:selector xpath="ams:accreditationReferences/ams:accreditation"/>
         <xs:field xpath="@id"/>
      </xs:key>
      <xs:key name="agentKey">
         <xs:selector xpath="ams:agentReferences/ams:agent"/>
         <xs:field xpath="@id"/>
      </xs:key>
      <xs:key name="groupKey">
         <xs:selector xpath="ams:groupReferences/ams:group"/>
         <xs:field xpath="@id"/>
      </xs:key>
      <xs:key name="locationKey">
         <xs:selector xpath="ams:locationReferences/ams:location"/>
         <xs:field xpath="@id"/>
      </xs:key>
      <xs:key name="organisationKey">
         <xs:selector xpath="ams:agentReferences/ams:organisation"/>
         <xs:field xpath="@id"/>
      </xs:key>
      <xs:key name="allAgentKey">
         <xs:selector xpath="ams:agentReferences/ams:agent|ams:agentReferences/ams:organisation"/>
         <xs:field xpath="@id"/>
      </xs:key>

      <xs:keyref name="accreditationOrganisationKeyRef" refer="organisationKey">
         <xs:selector xpath="ams:accreditationReferences/ams:*/ams:organisation"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>
      <xs:keyref name="accreditationAccreditingAgentKeyRef" refer="organisationKey">
         <xs:selector xpath="ams:accreditationReferences/ams:*/ams:accreditingAgent"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>

      <xs:keyref name="agentLocationKeyRef" refer="locationKey">
         <xs:selector xpath="ams:agentReferences/ams:agent/ams:location"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>
      <xs:keyref name="agentGroupMemberOfKeyRef" refer="groupKey">
         <xs:selector xpath="ams:agentReferences/ams:agent/ams:groupMemberOf"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>

      <xs:keyref name="groupMemberKeyref" refer="allAgentKey">
         <xs:selector xpath="ams:groupReferences/ams:group/ams:member"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>
      <xs:keyref name="groupLocationKeyref" refer="locationKey">
         <xs:selector xpath="ams:groupReferences/ams:group/ams:location"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>

      <xs:keyref name="organisationAccreditationKeyRef" refer="accreditationKey">
         <xs:selector xpath="ams:agentReferences/ams:organisation/ams:accreditation"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>
      <xs:keyref name="organisationLocationKeyRef" refer="locationKey">
         <xs:selector xpath="ams:agentReferences/ams:organisation/ams:location"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>
      <xs:keyref name="organisationHasSubOrganizationKeyRef" refer="organisationKey">
         <xs:selector xpath="ams:agentReferences/ams:organisation/ams:hasSubOrganization"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>
      <xs:keyref name="organisationIsSubOrganizationOfKeyRef" refer="organisationKey">
         <xs:selector xpath="ams:agentReferences/ams:organisation/ams:subOrganizationOf"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>
      <xs:keyref name="organisationGroupMemberOfKeyRef" refer="groupKey">
         <xs:selector xpath="ams:agentReferences/ams:organisation/ams:groupMemberOf"/>
         <xs:field xpath="@idref"/>
      </xs:keyref>
   </xs:element>


   <!-- PROPERTIES FOR CLASSES  -->
   <xs:element name="address" type="AddressType"/>
   <xs:element name="agent" type="AgentType"/>
   <xs:element name="contactPoint" type="ContactPointType"/>
   <xs:element name="group" type="GroupType"/>
   <xs:element name="identifier" type="IdentifierType"/>
   <xs:element name="mailbox" type="MailboxType"/>
   <xs:element name="phone" type="PhoneType"/>

   <!-- PROPERTIES  -->
   <xs:element name="topic" type="skos:ConceptType"/>
   <xs:element name="language" type="LanguageRestrictionType"/>
   <xs:element name="phoneNumber" type="xs:string"/>
   <xs:element name="countryDialing" type="xs:string"/>
   <xs:element name="areaDialing" type="xs:string"/>
   <xs:element name="dialNumber" type="xs:string"/>
   <xs:element name="eidasLegalIdentifier" type="LegalIdentifierType"/>
   <xs:element name="registration" type="LegalIdentifierType"/>
   <xs:element name="vatIdentifier" type="LegalIdentifierType"/>
   <xs:element name="taxIdentifier" type="LegalIdentifierType"/>
   <xs:element name="homepage" type="WebResourceType"/>
   <xs:element name="additionalNote" type="NoteType"/>
   <xs:element name="hasSubOrganization" type="IdReferenceType"/>
   <xs:element name="subOrganizationOf" type="IdReferenceType"/>
   <xs:element name="logo" type="MediaObjectType"/>
   <xs:element name="modified" type="xs:dateTime"/>
   <xs:element name="contentEncoding" type="ContentEncodingRestrictionType"/>
   <xs:element name="contentSize" type="xs:integer"/>
   <xs:element name="content" type="xs:string"/>
   <xs:element name="contentUrl" type="xs:anyURI"/>
   <xs:element name="spatial" type="MultipleCountryRestrictionType"/>
   <xs:element name="schemeName" type="xs:string"/>
   <xs:element name="schemeVersion" type="xs:string"/>
   <xs:element name="description" type="rdf:LangStringType"/>
   <xs:element name="contactForm" type="WebResourceType"/>
   <xs:element name="fullAddress" type="NoteType"/>
   <xs:element name="countryCode" type="CountryRestrictionType"/>
   <xs:element name="decision" type="skos:ConceptType"/>
   <xs:element name="report" type="WebResourceType"/>
   <xs:element name="limitField" type="AccreditedThematicAreaRestrictionType"/>
   <xs:element name="limitEQFLevel" type="AccreditedEQFLevelRestrictionType"/>
   <xs:element name="limitJurisdiction" type="JurisdictionRestrictionType"/>
   <xs:element name="accreditingAgent" type="IdReferenceType"/>
   <xs:element name="reviewDate" type="xs:dateTime"/>
   <xs:element name="expiryDate" type="xs:dateTime"/>
   <xs:element name="landingPage" type="WebResourceType"/>
   <xs:element name="supplementaryDocument" type="WebResourceType"/>
   <xs:element name="status" type="xs:string"/>
   <xs:element name="geographicName" type="rdf:LangStringType"/>
   <xs:element name="spatialCode" type="MultipleCountryRestrictionType"/>
   <xs:element name="noteLiteral" type="rdf:LangStringType"/>
   <xs:element name="member" type="IdReferenceType"/>
   <xs:element name="groupMemberOf" type="IdReferenceType"/>
   <xs:element name="title" type="rdf:LangStringType"/>
   <xs:element name="contentType" type="ContentTypeRestrictionType"/>
   <xs:element name="attachmentType" type="skos:ConceptType"/>
   <xs:element name="publisher" type="IdReferenceType"/>
   <xs:element name="noteFormat" type="skos:ConceptType"/>
   <xs:element name="schemeAgency" type="rdf:LangStringType"/>
   <xs:element name="legalName" type="rdf:LangStringType"/>
   <xs:element name="issued" type="xs:dateTime"/>
   <xs:element name="valid" type="xs:dateTime"/>
   <xs:element name="limitCredentialType" type="skos:ConceptType"/>
   <xs:element name="limitAbstractProgramme" type="skos:ConceptType"/>
   <xs:element name="schemeId" type="xs:anyURI"/>

   <!-- ComplexType FOR CLASSES  -->
   <xs:complexType name="AccreditationType">
      <xs:annotation>
         <xs:documentation>The quality assurance or licensing of an organisation or a qualification. An accreditation instance can be used to specify information about: - the quality assurance and/or licensing of an organisation. - the quality assurance and/or licensing of an organisation with respect to a specific qualification.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="identifier" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>An identifier of the Accreditation, as assigned to it by the accrediting agent.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="AccreditationTypeRestrictionType">
            <xs:annotation>
               <xs:documentation>The type of accreditation.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="title" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A title of the accreditation. One value per language allowed. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="description" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A free text description of the accreditation. One value per language allowed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="decision" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The Quality Decision issued by the Quality Assuring Authority.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="report" minOccurs="0">
            <xs:annotation>
               <xs:documentation>A publicly accessible report of the quality assurance decision.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="organisation" type="IdReferenceType">
            <xs:annotation>
               <xs:documentation>The organisation whose activities are being accredited. It MUST refer to an existing 'organisation'-record in the 'agentReferences'-section.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="limitField" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The field of education for which the accreditation is valid.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="limitEQFLevel" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The european qualification level for which the accreditation is valid.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="limitJurisdiction" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The jurisdiction for which the accreditation is valid.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="limitCredentialType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The credential type for which the accreditation is valid.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="limitAbstractProgramme" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Abstract programme or qualification to which the accreditation applies. It should be provided using SKOS concept that represents the abstract programme. For example, if accreditation is valid for a specific abstract programme, such as 'Computer Science', this property can be used to specify that information.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="accreditingAgent">
            <xs:annotation>
               <xs:documentation>The Quality Assuring Authority. (i.e assurer). It MUST refer to an existing 'organisation'-record in the 'agentReferences'-section.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="issued" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The date when the accreditation was formally approved/issued</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="reviewDate" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The date when the accreditation has to be re-viewed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="expiryDate" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The date when the accreditation expires or was expired.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" ref="valid">
            <xs:annotation>
               <xs:documentation>The date when the accreditation became valid.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="additionalNote" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>An additional free text note about the accreditation.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="homepage" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The homepage of the accreditation.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="landingPage" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The landing page of the accreditation.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="supplementaryDocument" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A public web document containing additional documentation describing the Accreditation Procedures and Standards.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="status" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The publication status of an accreditation.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="modified" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The date when the accreditation was last updated since it was published.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="publisher" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The publisher of the Accreditation.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:anyURI">
         <xs:annotation>
            <xs:documentation>A portable and unique identifier of the accreditation.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>

   <xs:complexType name="AddressType">
      <xs:annotation>
         <xs:documentation> An address.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="identifier" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>An address identifier.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="fullAddress" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The complete address with or without formatting.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="countryCode">
            <xs:annotation>
               <xs:documentation>The address’ country code.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AgentType">
      <xs:annotation>
         <xs:documentation>An entity that is able to carry out actions.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="foaf:AgentType">
            <xs:sequence>
               <xs:element ref="identifier" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A formally-issued Identifier for the agent.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="skos:prefLabel" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>The primary name of the agent. One value per language allowed.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="skos:altLabel" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>An agent may have any number of alternative or informal names.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="additionalNote" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>An additional free text note about the agent.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="location" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A location related to an agent. It MUST refer to an existing 'location'-record in the'locationReferences'-section.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="contactPoint" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>The contact information of an agent.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="groupMemberOf" maxOccurs="unbounded" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The group the agent is a member of. It MUST refer to an existing 'group'-record in the'groupReferences'-section.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="status" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The publication status of an Agent.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" ref="modified">
                  <xs:annotation>
                     <xs:documentation>The date when the agent was last modified.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="publisher" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The publisher of the Agent.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:anyURI">
               <xs:annotation>
                  <xs:documentation>A portable identifier of the agent.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ContactPointType">
      <xs:annotation>
         <xs:documentation>Details to Contact an Agent. A contact point for an agent.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="additionalNote" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A note about the contact point (e.g. availability or usage note).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="description" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A free text describing the contact details. One value per lanuage allowed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="address" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A postal address used for contacting the agent.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="phone" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A phone number used for contacting the agent.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="mailbox" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>An email/wallet address used for contacting the agent.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="contactForm" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A contact form used for contacting the agent.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GroupType">
      <xs:annotation>
         <xs:documentation>An entity that represents collection of Agents.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="skos:prefLabel" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The name of the group.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="skos:altLabel" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The alternative name of the group.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="dc:type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The type of the group. It should be provided using a controlled vocabulary.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="additionalNote" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>An additional free text note about the group.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="location" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The location of the group.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="contactPoint" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The contact information of the group.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="member" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>An agent being a member of the group. It MUST refer to an existing record in the'agentReferences'-section.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:anyURI"/>
   </xs:complexType>

   <xs:complexType name="RestrictedAdmsIdentifierType">
      <xs:annotation>
         <xs:documentation>Restricted IdentifierType class</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="adms:IdentifierType">
            <xs:sequence>
               <xs:element ref="skos:notation">
                  <xs:annotation>
                     <xs:documentation>Content string which is the identifier datatyped with the identifier scheme.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" ref="dc:creator"/>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="IdentifierType">
      <xs:annotation>
         <xs:documentation>An Identifier.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="RestrictedAdmsIdentifierType">
            <xs:sequence>
               <xs:element minOccurs="0" ref="schemeAgency">
                  <xs:annotation>
                     <xs:documentation>The name of the agent that manages the identifier scheme. The agent that issued the identifier.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" ref="issued">
                  <xs:annotation>
                     <xs:documentation>The date on which the identifier was issued.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" ref="schemeName">
                  <xs:annotation>
                     <xs:documentation>The name of the identifier scheme.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" ref="schemeVersion">
                  <xs:annotation>
                     <xs:documentation>Identification of the version of the identifier scheme.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" ref="schemeId">
                  <xs:annotation>
                     <xs:documentation>Identification of the scheme. It is strongly recommeded to use the datatype property of skos:notation instead of schemeId as this property will be deprecated in future ELM versions. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="dc:type">
                  <xs:annotation>
                     <xs:documentation>The type.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="LegalIdentifierType">
      <xs:complexContent>
         <xs:extension base="IdentifierType">
            <xs:sequence>
               <xs:element ref="spatial">
                  <xs:annotation>
                     <xs:documentation>The identifier of the country and/or jurisdiction.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="LocationType">
      <xs:annotation>
         <xs:documentation>An identifiable geographic place.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="dc:LocationType">
            <xs:sequence>
               <xs:element ref="identifier" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A location identifier.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="geographicName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A proper noun applied to a spatial object. One value per language permitted.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="spatialCode" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A code identifying a spatial scope in which this physical location is located.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="description" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A free text describing the location.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="address" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>An address associated with the location.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="locn:geometry" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Associates the Location with the corresponding Geometry.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required" type="xs:anyURI">
               <xs:annotation>
                  <xs:documentation>A portable identifier of the location.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="MailboxType">
      <xs:annotation>
         <xs:documentation>A mailbox.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:anyURI"/>
      </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="MediaObjectType">
      <xs:annotation>
         <xs:documentation>A media object.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="title" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The title of the media object. One value per language is permitted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="description" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A free text description of the media object. One value per language permitted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" ref="contentType">
            <xs:annotation>
               <xs:documentation>The type of the media object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" ref="attachmentType">
            <xs:annotation>
               <xs:documentation>The type of the attachment of the media object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" ref="contentEncoding">
            <xs:annotation>
               <xs:documentation>The encoding used to encode the binary data.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" ref="contentSize">
            <xs:annotation>
               <xs:documentation>The content size of the media object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" ref="content">
            <xs:annotation>
               <xs:documentation>The binary data of the media object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="NoteType">
      <xs:annotation>
         <xs:documentation>
            Free text metadata fields, such as the description, a historical or additional note of a qualification can contain a plain text or an XHTML fragment as literal value.
            By using a Note both the datatype of the literal and the language can be specified.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="dc:subject" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The subject of the note.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="noteFormat" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The format of the note.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="noteLiteral">
            <xs:annotation>
               <xs:documentation>The textual content of the note.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>


   <xs:complexType name="OrganisationType">
      <xs:annotation>
         <xs:documentation>A legal person / registered organisation.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="RegisteredOrganisationType">
            <xs:sequence>
               <xs:element ref="legalName" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>The legal name of the organisation. One value per language permitted. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="type" type="skos:ConceptType" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>The type of Organisation.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="identifier" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>An alternative identifier for the organisation.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="eidasLegalIdentifier" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The official identification number of the organisation, as awarded by the relevant national authority.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="registration" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The legal identifier of an organisation. The identifier given to a registered organisation by the authority with which it is registered. The legal status of a registered organisation is conferred on it by an authority within a given jurisdiction. The Legal Identifier is therefore a fundamental relationship between an organisation and the authority with which it is registered.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="vatIdentifier" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>The Value-Added Tax ID.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="taxIdentifier" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Fiscal ID of the organisation.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="homepage" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A homepage about the organisation.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="additionalNote" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>An additional free text note about the organisation.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="accreditation" type="IdReferenceType" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Accreditation Records associated with the organisation. More information about the accreditation database is available here. It MUST refer to an existing 'accreditation'-record in the 'accreditationReferences'-section.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="location" type="IdReferenceType" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A location related to an organisation. It MUST refer to an existing 'location'-record in the'locationReferences'-section.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="contactPoint" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>The contact information of an organisation.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="hasSubOrganization" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A smaller organisation of which forms part of this organisation, e.g. a Department within a larger Organisation. It MUST refer to a 'organisation'-record in 'agentReferences' section.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="subOrganizationOf" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Indicates a larger Organisation of which this Unit is a part of, e.g. the Organisation within which a Department operates. It MUST refer to a 'organisation'-record in 'agentReferences' section.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="logo" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The logo of the organisation.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="groupMemberOf" maxOccurs="unbounded" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The group the organisation is a member of. It MUST refer to an existing 'group'-record in the'groupReferences'-section.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="status" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The publication status of an organisation.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="modified" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The date when the organisation was last updated since it was published</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="publisher" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The publisher of the Organisation.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:anyURI" use="required">
               <xs:annotation>
                  <xs:documentation>The unique and portable identifier of the organisation.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="PhoneType">
      <xs:annotation>
         <xs:documentation>A phone number.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" ref="phoneNumber">
            <xs:annotation>
               <xs:documentation>The full phone number as a string.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" ref="countryDialing">
            <xs:annotation>
               <xs:documentation>The country dialing code for a contact number.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" ref="areaDialing">
            <xs:annotation>
               <xs:documentation>The area dialing code for a contact number.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" ref="dialNumber">
            <xs:annotation>
               <xs:documentation>The contact number, not including country dialling or area dialling codes. (e.g. "3445654", "1234567", etc.).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="WebResourceType">
      <xs:annotation>
         <xs:documentation>A public web document. One value per language permitted.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="title" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>The name of the document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="language" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The language of the document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="contentUrl">
            <xs:annotation>
               <xs:documentation>The public access URL of the web resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>


   <!-- ComplexType FOR XSD SPECIFIC CLASSES  -->
   <xs:complexType name="AccreditationsRootType">
      <xs:annotation>
         <xs:documentation>This is the root element of the document.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" ref="accreditationReferences">
            <xs:annotation>
               <xs:documentation>
                  Container element to record all Accreditation entities that can be linked or refered to from other places in the xml document.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" ref="agentReferences">
            <xs:annotation>
               <xs:documentation>
                  Container element to record all Agent entities that can be linked or refered to from other places in the xml document.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" ref="groupReferences">
            <xs:annotation>
               <xs:documentation>
                  Container element to record all Group entities that can be linked or refered to from other places in the xml document.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" ref="locationReferences">
            <xs:annotation>
               <xs:documentation>
                  Container element to record all Location entities that can be linked or refered to from other places in the xml document.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="xsdVersion" use="optional" default="3.0.0">
         <xs:annotation>
            <xs:documentation>used xsd version</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="3.0.0"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>

   <xs:complexType name="RegisteredOrganisationType">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="rov:RegisteredOrganizationType">
            <xs:sequence>
               <xs:element ref="skos:altLabel" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="IdReferenceType">
      <xs:annotation>
         <xs:documentation>A link or reference to another entity record in the document.</xs:documentation>
      </xs:annotation>
      <xs:attribute name="idref" type="xs:anyURI" use="required">
         <xs:annotation>
            <xs:documentation>The id of the referenced entity (record).</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>


   <!-- CONTAINER ELEMENTS  -->
   <xs:element name="accreditationReferences" type="AccreditationReferencesType"/>
   <xs:element name="agentReferences" type="AgentReferencesType"/>
   <xs:element name="groupReferences" type="GroupReferencesType"/>
   <xs:element name="locationReferences" type="LocationReferencesType"/>

   <xs:complexType name="AccreditationReferencesType">
      <xs:sequence>
         <xs:element name="accreditation" type="AccreditationType" maxOccurs="unbounded" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The quality assurance or licensing of an organisation or a qualification. An accreditation instance can be used to specify information about: (1) the quality assurance and/or licensing of an organisation, (2) the quality assurance and/or licensing of an organisation with respect to a specific qualification.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AgentReferencesType">
      <xs:sequence>
         <xs:element name="agent" type="AgentType" maxOccurs="unbounded" minOccurs="0">
            <xs:annotation>
               <xs:documentation>An entity that is able to carry out actions.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="organisation" type="OrganisationType" maxOccurs="unbounded" minOccurs="0">
            <xs:annotation>
               <xs:documentation>A registered organisation.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GroupReferencesType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element ref="group">
            <xs:annotation>
               <xs:documentation>An entity that represents collection of Agents.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>

   <xs:complexType name="LocationReferencesType">
      <xs:sequence>
         <xs:element name="location" type="LocationType" maxOccurs="unbounded" minOccurs="0">
            <xs:annotation>
               <xs:documentation>
                  An identifiable geographic place.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <!-- TYPES USING CONTROLLED VOCABULARY -->
   <xs:complexType name="LanguageRestrictionType">
      <xs:complexContent>
         <xs:restriction base="skos:ConceptType">
            <xs:attribute name="uri" type="lng:LanguageEnumType" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ContentTypeRestrictionType">
      <xs:complexContent>
         <xs:restriction base="skos:ConceptType">
            <xs:attribute name="uri" type="for:FileTypeEnumType" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ContentEncodingRestrictionType">
      <xs:complexContent>
         <xs:restriction base="skos:ConceptType">
            <xs:attribute name="uri" type="ecet:ContentEncodingTypesEnumType" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="AllCountriesType">
      <xs:union memberTypes="cou:CountryEnumType nuts:NutsCodeEnumType"/>
   </xs:simpleType>
   <xs:complexType name="MultipleCountryRestrictionType">
      <xs:attribute name="uri" type="AllCountriesType" use="required"/>
   </xs:complexType>
   <xs:complexType name="AccreditationTypeRestrictionType">
      <xs:complexContent>
         <xs:restriction base="skos:ConceptType">
            <xs:attribute name="uri" type="eat:AccreditationTypesEnumType" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountryRestrictionType">
      <xs:complexContent>
         <xs:restriction base="skos:ConceptType">
            <xs:attribute name="uri" type="cou:CountryEnumType" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AccreditedThematicAreaRestrictionType">
      <xs:complexContent>
         <xs:restriction base="skos:ConceptType">
            <xs:attribute name="uri" type="isced:ISCED-FEnumType" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AccreditedEQFLevelRestrictionType">
      <xs:complexContent>
         <xs:restriction base="skos:ConceptType">
            <xs:attribute name="uri" type="eqf:EQFLevelEnumType" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="JurisdictionRestrictionType">
      <xs:complexContent>
         <xs:restriction base="skos:ConceptType">
            <xs:attribute name="uri" type="atu:AdministrativeTerritorialUnitEnumType" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
