xsd/ams/external/org.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.w3.org/ns/org#"
           targetNamespace="http://www.w3.org/ns/org#"
           xmlns:skos="http://www.w3.org/2004/02/skos/core#"
           xmlns:foaf="http://xmlns.com/foaf/0.1/"
           elementFormDefault="qualified">
    
    <xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="skos.xsd"/>
    <xs:import namespace="http://xmlns.com/foaf/0.1/" schemaLocation="foaf.xsd"/>
    
    <xs:element name="Organization" type="OrganizationType"/>
    
    <xs:element name="hasSubOrganization" type="OrganizationType">
        <xs:annotation>
            <xs:documentation>Represents hierarchical containment of Organizations or OrganizationalUnits; indicates an organization which is a sub-part or child of this organization.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="isSubOrganizationOf" type="OrganizationType">
        <xs:annotation>
            <xs:documentation>Represents hierarchical containment of Organizations or OrganizationalUnits; indicates an organization which is a sub-part or child of this organization.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="memberOf" type="OrganizationType">
        <xs:annotation>
            <xs:documentation>Indicates that an agent (person or other organization) is a member of the Organization with no indication of the nature of that membership or the role played. Note that the choice of property name is not meant to limit the property to only formal membership arrangements, it is also intended to cover related concepts such as affiliation or other involvement in the organization. Extensions can specialize this relationship to indicate particular roles within the organization or more nuanced relationships to the organization.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="hasMember" type="foaf:AgentType">
        <xs:annotation>
            <xs:documentation>Indicates an agent (person or other organization) who is a member of the subject Organization.</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="OrganizationType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="skos:prefLabel" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="skos:altLabel" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="skos:notation" minOccurs="0"/>
            <xs:element ref="hasSubOrganization" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="isSubOrganizationOf" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="hasMember" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
